INSTALL
**/Makefile
**/Makefile.in
**/aclocal.m4
autom4te.cache
src/config.vala
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test_rtm
test_app
**/*.c
**/*.o
**/*.stamp
**/*.stamp-t
**/.deps
**/*.a
CMakeFiles
CMakeCache.txt
cmake_install.cmake
gcowboy
rtm_test
install_manifest.txt
*~
CPack*
_CPack*
*.deb
