GtkViewport.task {
    transition: 500ms ease-in-out;
    background-color: white;
    border-width: 1px;
    border-color: #eeeeee;
    border-style: solid;
}

GtkViewport.task.hovered {
    background-color: white;
    border-color: #aaaaaa;
}

GtkLabel.name {
    border-width: 0 0 1px 0;
    border-color: #eeeeee;
    border-style: solid;
}

GtkLabel.caption {
    padding: 5px 5px 5px 20px;
}

GtkViewport.task GtkLabel.name {
    font-size: medium;
    padding: 5px 0 5px 10px;
}

